.audio-player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-div-bg);
    height: 88px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-border);
}

.contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.audio-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.audio-info > img{
    object-fit: cover;
    border-radius: 8px;
    width: 60px;
    height: 60px;
}

.audio-name > p{
    margin: 0;
    color: var(--color-text);
}

.buttons > button{
    margin-left: 20px;
    border: none;
}

.prev-btn, .next-btn{
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 5px 15px;
    color: var(--color-text);
    background-color: var(--color-btn);
    background: transparent;
    cursor: pointer;
    transition: transform .5s ease;
}

.pause-play{
    border-radius: 50%;
    font-size: 1.4rem;
    padding: 5px 15px;
    background-color: var(--color-btn);
    color: white;
    cursor: pointer;
}

.prev-btn:hover, .next-btn:hover{
    transform: scale(1.2);
}

@layer Player{
    .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .time-tracker{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .time-tracker > input[type="range"]{
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 5.5px;
        background: var(--color-text);
        border-radius: 4px;
        cursor: pointer;
    }

    .time-tracker > input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        background: var(--color-border);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 5px solid black;
        box-shadow: 0 5px 5px var(--color-btn);
    }

    .time-tracker > input[type="range"]::-moz-range-thumb {
        background: var(--color-div-bg) ;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 3px solid var(--color-btn);
        box-shadow: 0 1px 1px var(--color-btn);
        cursor: pointer;
    }

    .time-tracker > p{
        margin: 0;
    }

}

