.carousel-content{
    display: flex;
}

.carousel-container{
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.carousel-card {
    width: 200px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-div-bg);
    padding: 15px;
    cursor: pointer;
    transition: transform .5s ease;
}

.carousel-img-div{
    width: 100%;
    /* height: 100%; */
}

.carousel-pod-img{
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-btn);
    object-fit: cover;
}

.carousel-pod-title {
    margin: 5px 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-headings);
    display: -webkit-box;
 
    -webkit-box-orient: vertical;  
    overflow: hidden;              
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* remove line clamp */
    transition: transform .5s ease;
}

.genre-item{
    background-color: var(--color-btn);
    padding: 5px 7px;
    border-radius: 6px;
    font-size: 0.7rem;
    color: var(--color-text);
}

.genre-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-top: 5px;
}
