.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* space between arrows + content */
    width: 100%;
}

.carousel-content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;              
    padding: 10px 0;
    scrollbar-width: none;  
}

.carousel-content::-webkit-scrollbar {
    display: none;           /* Chrome hide scrollbar */
}

.carousel-card {
    flex: 0 0 250px;         /* consistent card width, no stretching */
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-div-bg);
    padding: 15px;
    cursor: pointer;
    transition: transform .3s ease;
}

.carousel-card:hover {
    transform: translateY(-5px);
}

.carousel-img-div{
    width: 100%;
    /* height: 100%; */
}

.carousel-pod-img{
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-btn);
    object-fit: cover;
}

.carousel-pod-title {
    margin: 5px 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-headings);
    display: -webkit-box;
 
    -webkit-box-orient: vertical;  
    overflow: hidden;              
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* remove line clamp */
    transition: transform .5s ease;
}

.genre-item{
    background-color: var(--color-btn);
    padding: 5px 7px;
    border-radius: 6px;
    font-size: 0.7rem;
    color: var(--color-text);
}

.genre-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-top: 5px;
}
