.favourites > h2,
.favourites > p {
    color: var(--color-headings);
}


.fav-episode-details > div {
    display: flex;
    justify-content: space-between;
}

.fav-episode-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.wrapper {
    flex: 1 1 calc(33.333% - 10px);
    min-width: 250px;
    background-color: var(--episode-inner-shadow);
    padding: 14px 18px;
    border-radius: 8px;
    box-shadow: 0 0 1px 1px var(--episode-shadow);
    cursor: pointer;
    display: flex;
    flex-direction: row; /* horizontal layout for image + details */
    gap: 15px;
}

.fav-podcast-group > h2{
    color : var(--color-headings)
}


.fav-ep-clm {
    flex: 1 1 calc(33% - 15px); /* 3 items per row */
    min-width: 250px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    cursor: pointer;
    box-shadow: 0 0 1px 1px var(--episode-shadow);
    padding: 8px 16px;
    border-radius: 8px;
    position: relative;
}

.fav-title-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.episode-image {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
}


.fav-ep-title {
    margin: 0;
    font-weight: 500;
    color: var(--color-headings);
}

.fav-ep-desc {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    color: var(--color-content-text);
    font-weight: 500;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
}

.fav-ep-meta {
    display: flex;
    align-items: center;
}

.fav-ep-meta > span {
    font-size: 0.8rem;
    color: var(--color-fade-text);
    font-weight: 500;
    margin-right: 10px;
}

.fav-ep-meta > span:nth-last-of-type(2) {
    font-size: 1rem;
}

.heart-icon{
    position: absolute;
    top: 10;
    right: 10;
}
