
header{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.icon-name-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-title{
    color: var(--color-text);
    font-size: 28px;
    cursor: pointer;
}

.icon-name-wrapper > img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.profile-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.search-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
