.status {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.308);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(8px);
}

.status > span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    animation: bounce 0.6s infinite alternate
}

.status > span:nth-child(2) { animation-delay: 0.1s;}
.status > span:nth-child(3) { animation-delay: 0.2s;}
.status > span:nth-child(4) { animation-delay: 0.3s;}

@keyframes bounce {
    to {
        transform: translateY(-20px);
    }
}