.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination > button{
    border : none;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: var(--color-btn);
    color: var(--color-text);
    font-size: 1rem;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.6);
    cursor: pointer;
    transition: transform .8s ease, box-shadow .12s ease;
}

.pagination > button.active{
   transform: translateY(2px);
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.35);
  background-color: #18394f
}

.pagination > button.active:focus{
   box-shadow: 0 0 0 3px rgba(0, 120, 212, 0.342), inset 0 4px 8px rgba(0,0,0,0.25);
}