
.card {
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-div-bg);
    padding: 15px;
    cursor: pointer;
    transition: transform .5s ease;
}

.card:hover{
    transform: scale(1.1);
}



.podcast-img-div{
    width: 100%;
    /* height: 100%; */
}

.podcast-img{
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-btn);
    object-fit: cover;
}

.pod-title {
    margin: 5px 0;
    font-weight: 500;
    font-size: 1.2rem;

    display: -webkit-box;
    /* remove line */
    -webkit-box-orient: vertical;  
    overflow: hidden;              
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;         
    transition: transform .5s ease;
}

.card:hover .pod-title{
    -webkit-line-clamp: unset;  /* remove line clamp */
    overflow: visible;
}


.season-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-content-text);
}

.season-icon{
    width: 20px;
    height: 20px;
}

.genre-item{
    background-color: var(--color-btn);
    padding: 5px 7px;
    border-radius: 6px;
    font-size: 0.7rem;
    color: var(--color-text);
}

.genre-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-top: 5px;
}

.update-time{
    margin: 0;
    margin-top: 10px;
    color: var(--color-content-text);
} 